.containerList{
    max-width: 60%;
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 4rem;
}
.containerCards{
    text-align: center;
    width: 20rem;
    padding: 20px;
    border-top-right-radius:5rem;
    border-bottom-left-radius:5rem;
    -webkit-box-shadow: 6px 7px 8px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 7px 8px 7px rgba(0,0,0,0.75);
    box-shadow: 6px 7px 8px 7px rgba(0,0,0,0.75);
}
.containerCards div{
  
    width: 100%; 
}
.img{
    width: 100%;
    object-fit: contain;
    transform: scale(0.9);
}
.img:hover{
    cursor: pointer;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}


